<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>ReedAccess Phrasebook</title>

<!-- our customized css, will override bootstrap core css -->
  <link href="css/bootstrap3/css/custom.css" rel="stylesheet">

  <link href="css/bootstrap3/css/bootstrap.css" rel="stylesheet">
  <link href="css/bootstrap3/css/bootstrap-theme.css" rel="stylesheet">

  <!-- link href="/css/bootstrap-responsive.css" rel="stylesheet" -->
  

  <script src="http://documentcloud.github.io/underscore/underscore-min.js"></script>
  <!-- script src="http://documentcloud.github.io/backbone/backbone-min.js"></script -->

  <!-- link rel="stylesheet" href="/css/app.css" -->
  <script src="vendor/angularjs-1.0.5/angular.js"></script>
  <script src="vendor/angularjs-1.0.5/angular-resource.js"></script>
 
  <!-- Angular Bootstrap UI -->
  <script src="bootstrap-gh-pages/ui-bootstrap-0.7.0.js"></script>
  <script src="bootstrap-gh-pages/ui-bootstrap-tpls-0.7.0.js"></script>

  <!-- script src="js/reload.js"></script -->

  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/controllers.js"></script>



</head>

<body ng-app="PhrasebookApp" ng-controller="PhrasebookBodyCtrl">

 

   <div container-fluid ng-controller="PhrasebookHeaderCtrl">  

<!--   ============== TITLE =============================== -->
      <div class="row-fluid bigtitle col-md-12 col-xs-12 hidden-xs">
         <center>{{userstate.screenvalues[userstate.user_language_ndx].maintitle}}           </center>
      </div> 
      <div class="row-fluid smalltitle col-md-12 col-xs-12 visible-xs">
         <center>{{userstate.screenvalues[userstate.user_language_ndx].maintitle}}</center> 
      </div>

<!--   =============== HEADER ============================== -->

      <div class="row-fluid bigheader hidden-xs">

         <div class="col-md-2 col-xs-2">
             <img class="img-responsive" ng-src="{{userstate.screenvalues[userstate.user_language_ndx].flag}}" /> 
         </div>

         <div class="col-md-3 col-xs-3">
            <select ng-model="userstate.user_language" ng-options="l.displayname for l in userstate.languages" ng-change="languageChanged()" > </select>
         </div>

	   <div class="col-md-4 col-xs-4">
            <div class="col-md-2 col-xs-2">
               {{userstate.screenvalues[userstate.user_language_ndx].userlabel}}:                          
            </div>

            <div class="col-md-2 col-xs-2">
               {{  username }}
            </div>
         </div>
         
         <div class="col-md-1 col-xs-1">
            <a class="btn btn-large btn-primary" href="/admin">{{userstate.screenvalues[userstate.user_language_ndx].adminlabel}}</a>
         </div>
      
      </div>     

      <div class="row-fluid smallheader visible-xs">

         <div class="col-md-2 col-xs-2">
             <img class="img-responsive" ng-src="{{userstate.screenvalues[userstate.user_language_ndx].flag}}" /> 
         </div>

         <div class="col-md-4 col-xs-4">
            <select ng-model="userstate.user_language" ng-options="l.displayname for l in userstate.languages" ng-change="languageChanged()" > </select>
         </div>

	   <!-- div class="col-md-5 col-xs-5" -->
            <div class="col-md-2 col-xs-2">
               {{userstate.screenvalues[userstate.user_language_ndx].userlabel}}:                          
            </div>

            <div class="col-md-2 col-xs-2">
               {{  username }}
            </div>
         <!-- /div -->
         
         <div class="col-md-2 col-xs-2">
            <a class="btn btn-large btn-primary" href="/admin">{{userstate.screenvalues[userstate.user_language_ndx].adminlabel}}</a>
         </div>
      
      </div> 
      <!-- div class="row-fluid jumbotron hidden-xs" -->


<!--   =============== PARTIALS ============================== -->
   </div> <!-- header container with controller --> 

   <!-- Angular partials go here -->
   <div ng-view class="container-fluid"></div>  
 
   <div id="footer" class="container-fluid">
      Footer
   </div>

 
</body>

</html>
